html, body, h1, form, fieldset, legend, ol, li {
margin: 0;
padding: 0;
}


div {
 outline:0px solid red;
}

body {
 padding:0;
 margin:0;
/*** border-top: 30px solid #87A96B; **/
 font-family: Georgia,Helvetica;
 font-size: 14px;
}

#masthead_wrap {
  border: 1px solid gray;	
  outline: 0px solid red;
  width: 500px;  
  height: 40px;
  margin-top: -20px;
  position:fixed;
  background-color: #dedede;
}

/**
#top-header{
  border: 1px solid #dedede;
  height: 40px;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

**/

/**
#outer_wrap {
   border-top: 260px solid #dedede;
}
**/
ul {
 padding:0;
 margin:0;
 list-style-type: none;
 font-weight: bold;
}

#leftmenu_frame ul {
  margin-left: 10px;
}

#leftmenu_frame ul li {
  border: 1px solid #F0F2F4;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  margin-bottom: 12px;	
  font-size: 16px;
  font-weight: normal; 
} 
 
#leftmenu_frame ul li:hover {
  background-color:#87A96B;
  color: #fff;
  font-weight: bold;	
}

 
 
 #masthead_wrap ul {
  padding-bottom: 5px;
   padding-top: 5px;
  margin-left: 20px;
 }
 
#masthead_wrap ul li {
  display: inline;
  margin-right: 25px;
 
}





#page_wrap {
   width: 740px;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:20px;
   outline: 0px solid gray;
   
}

#content_frame {
  overflow: auto;
}

#leftmenu_frame {
  width: 220px;
  margin-left:2px;
  padding-top: 2px;
  position:fixed;
  border-right: 0px solid blue;
  float: left;
  outline: 0px solid #000;
}

#leftmenu_frame .title {
  margin-left: 35px;
  font-weight: bold;
  font-size: 28px;
  font-family: Georgia,Helvetica;
  font-style: italic;	
  color: #fff;
}

#site_title {
	outline: 1px solid gray;
	height: 36px;
	background-color: #dedede;
	padding-top: 4px;	
	
	
}

#mastercontent_wrap {
  width: 500px;
  background-color: #fff;
  float: right;
  overflow: auto;
  border: 0px solid orange; 

}


#innermaster_wrap_content {
  margin:20px 0px 20px 0px; 
  padding-top: 35px; 
}

#innerdetail_wrap {
  width: 500px;
   float: left;
}

#page_wrap ul.note_actions li {
	display: inline;
	margin-right: 10px;
	color: #dedede;
}

#page_wrap ul.note_actions li:hover {
  color: gray;
  cursor:pointer;	
}

#page_wrap .docname {
  font-weight: bold;
  font-style: italic;	
}

#page_wrap .entry-note {
	border: 1px solid gray;
	padding: 2px 1px 2px 8px;
}

#page_wrap #innermaster_wrap_content .odd {
	background-color: #F1F2F4;
}

#page_wrap .tag_cloud {
  padding: 8px 8px 8px 8px;
  color: #60AFFE;
  font-weight: bold;
  font-size: 12px;
  width: 400px;
  text-wrap: normal;
  border: 1px solid red;	
}
