html, body, h1, form, fieldset, legend, ol, li {
margin: 0;
padding: 0;
}


div {
 outline:0px solid red;
}

body {
 padding: 0;
 margin:0;
 border-top: 30px solid #87A96B;
 font-family: Georgia,Helvetica;
 font-size: 14px;
}

/**
#outer_wrap {
   border-top: 260px solid #dedede;
}
**/
ul {
 padding:0;
 margin:0;
 list-style-type: none;
 font-weight: bold;
}

#leftmenu_frame ul {
  margin-left: 10px;
}

#leftmenu_frame ul li {
  border: 1px solid #F0F2F4;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  margin-bottom: 12px;	
  font-size: 16px;
  font-weight: normal; 
} 
 
#leftmenu_frame ul li:hover {
  background-color:#87A96B;
  color: #fff;
  font-weight: bold;	
}

 
 
 #masthead_wrap ul {
  padding-bottom: 5px;
   padding-top: 5px;
  margin-left: 20px;
 }
 
#masthead_wrap ul li {
  display: inline;
  margin-right: 25px;
 
}





#page_wrap {
   width: 940px;
   margin-left:auto;
   margin-right:auto;
   margin-top:20px;
   margin-bottom:20px;
   outline: 0px solid gray;
   
  background-color: #fff;
}

#content_frame {
  overflow: auto;
  background-color: ;
  
}

#leftmenu_frame {
  width: 240px;
  border-right: 0px solid blue;
  float: left;
  outline: 0px solid #000;
}


#mastercontent_wrap {
  width: 690px;
  background-color: #fff;
  float: right;
 /**  background-color: lightBlue; **/
   overflow: auto;

}


#innermaster_wrap_content {
  margin:20px 20px 20px 20px;  
}

#innerdetail_wrap {
  width: 500px;
   float: left;
}

#page_wrap ul.note_actions li {
	display: inline;
	margin-right: 10px;
	color: #dedede;
}

#page_wrap ul.note_actions li:hover {
  color: gray;
  cursor:pointer;	
}

#page_wrap .docname {
  font-weight: bold;
  font-style: italic;	
}

#page_wrap .entry-note {
	border: 1px solid gray;
	padding: 2px 1px 2px 8px;
}

#page_wrap #innermaster_wrap_content .odd {
	background-color: #F1F2F4;
}

